#screen {
  width: 200px;
  height: 50px;
  background: #3a3a3a;
  color: #fff;
}

#keyboard {
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
}

.key {
  color: white;
  height: 50px;
  width: 25%;
  background: grey;
  border: 1px solid #000;
}
.big {
  width: 50%;
}

.dark {
  background: #636363;
}

.orange {
  background: #e47400;
}
