.container {
  margin: 150px auto;
  width: 200px;
}

#screen {
  width: 200px;
  height: 50px;
  background: #3a3a3a;
  color: #fff;
  text-align: right;
  font-size: 30px;
}

#keyboard {
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
}

.key {
  color: white;
  height: 50px;
  width: 25%;
  background: grey;
  border: 1px solid #000;
  text-align: center;
  vertical-align: auto;
}

.key:hover {
  cursor: pointer;
}

.dark:focus {
  background
}

.key:focus {

}

.orange:focus {
  
}
.big {
  width: 50%;
}

.dark {
  background: #636363;
}

.orange {
  background: #e47400;
}
